@model ChangeRoleVM
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change Role</h4>
               @* <p class="card-description">if the user is Head Of Department, change the Head Of Department before changing the role</p>
                <a asp-action="Index" asp-controller="DepartmentsDetail" class="btn btn-inverse-primary btn-fw">Go To Detail of Departments</a>*@
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                   
                    <div class="form-group">
                        <p></p>
                        <div>
                            <h3>@Model.FullName</h3>
                        </div>
                        
                        <select asp-for="RoleSelected" asp-items="@Model.RoleList" name="newRole" class="form-control form-control-lg">
                          
                            @*<option disabled selected>--Select Role--</option>*@
                        </select>
                        <span class="text-danger" asp-validation-for="RoleSelected"></span>
                    </div>
                    
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-inverse-dark btn-fw">Go back</a>
                    <p></p>
                    <p></p>
                    <div class ="form-group">
                        <p class="card-description">if the user is Head Of Department, change the <a asp-action="Index" asp-controller="DepartmentsDetail" class="text-black" >Head Of Department</a> before changing the role</p>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>