@model Homework
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Upload Homework</h4>
                <p class="card-description"></p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">

   
                    <div class="form-group">
                        <label asp-for="UploadHomeFile">Upload File</label>
                        <input asp-for="UploadHomeFile" class="form-control">
                        <label class="text-primary" asp-for="UploadHomeFile">*Use .txt file</label>
                        <span asp-validation-for="UploadHomeFile" class="text-danger"></span>
                    </div>

                   
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-inverse-dark btn-fw">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
