@model Email
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Send Email</h4>
                <p class="card-description"></p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
              
                    <div class="form-group">
                        <input asp-for="MessageSubject" class="form-control form-control-lg" placeholder="Subject">
                        <span asp-validation-for="MessageSubject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="MessageBody" class="form-control form-control-lg" placeholder="Body">
                        <span asp-validation-for="MessageBody" class="text-danger"></span>
                    </div>

             
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-inverse-dark btn-fw">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
