@model Department
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Department</h4>
                <p class="card-description"></p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name">Department name</label>
                        <input asp-for="Name" class="form-control" id="exampleInputUsername1" >
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>